<button *ngIf="connecte" [routerLink]="['/produit/ajouter']" class="btn btn-primary">
  Ajouter un produit
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Quantité</th>
      <th scope="col">Catégorie</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produit of produits">
      <th scope="row">{{ produit.id }}</th>
      <td>{{ produit.nom }}</td>
      <td>{{ produit.prix }}</td>
      <td>{{ produit.quantite }}</td>
      <td>{{ produit.category.nom }}</td>
      <td *ngIf="connecte">
        <button
          class="btn btn-primary"
          [routerLink]="['/produit/modifier/', produit.id]"
        >
          Editer
        </button>
        <button
          type="submit"
          class="btn btn-danger"
        >
          Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
